    <main>
        <form action="/cats/shelter/{{currentCat.id}}" method="DELETE" class="cat-form">
            <h2>Shelter the cat</h2>
            <img src="/public/images/{{currentCat.file}}" alt="{{currentCat.name}}">
            <label for="name">Name</label>
            <input type="text" id="name" value="{{currentCat.name}}" disabled>
            <label for="description">Description</label>
            <textarea id="description" disabled>{{currentCat.description}}</textarea>
            <label for="group">Breed</label>
            <select id="group" disabled>
                <option value="{{currentCat.breed}}">{{currentCat.breed}}</option>
            </select>
            <button type="submit">SHELTER THE CAT</button>
        </form>
    </main>
